<div class="body">

  <nav class="navbar navbar-expand-lg" id="header">
      <a class="navbar-brand" routerLink="/landingpage">CHAPULINES INC</a>
      <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/landingpage">Inicio</a>
              </li>
              <li class="nav-item">
                <a *ngIf="isLogin()" class="nav-link" routerLink="/map">Mapa</a>
            </li>
              <li class="nav-item">
                  <a *ngIf="!isLogin()" class="nav-link" routerLink="/login">Iniciar Sesión</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
              <a *ngIf="!isLogin()" routerLink="/signin" class="btn btn-outline-info">Registrarse</a>
          </form>
      </div>
  </nav>

  <section class="portada" id="hero" style="background-image: url(./assets/img/inegi.jpg)">
    <div class="hero container">
      <div>
        <h1 class="text-center align-items-center">¿ALGUNA VEZ TE HAS PREGUNTADO CUÁNTAS TIENDAS DE ABARROTES HAY?</h1>
        <h3 class="text-muted">Conoce datos de las tiendas de abarrotes con los Censos Económicos, solo tienes que registrarte para acceder a los datos.</h3>
        <a routerLink="/signin" class="btn btn-info">REGISTRARSE</a>
      </div>
    </div>
  </section>

  <div class="container" id="servicios">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" id="#servicios">
      <div class="col-md-7">
        <p class="lead">
          Se suele llamar “abarrotes” a la mercancía diversa que se vende tanto en tienditas como en supermercados, 
          principalmente la comestible y el uso común también creó la palabra “abarrotero”, para definir a las personas 
          que atienden tiendas de abarrotes o que distribuyen los productos que se venden en ellas, y estas son lugares 
          donde se puede realizar el abasto diario de las familias mexicanas. 
        </p>
      </div>
      <div class="col-md-5">
        <p>
          <strong><h1 class="featurette-heading float-right">¿Qué son las <span class="text-muted">tiendas de abarrotes?</span></h1></strong>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <p class="lead">
          Su papel es fundamental en la sociedad y son clave para el desarrollo económico, aparte que tienen una gran adaptabilidad 
          en cuanto a la venta de los productos, ya que, gracias a esto, se pueden programar las cantidades y presentación de acuerdo 
          con la capacidad de compra del cliente.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <p class="lead">
          <strong><h1 class="featurette-heading">¿Por qué son<span class="text-muted"> tan importantes?</span></h1></strong>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <p class="lead">
          Aquí podrás ver la información de cada tienda de barrotes que hay, gracias a un mapa interactivo de la República Mexicana,
          donde podrás ver datos como, el nombre de cada una de las tiendas, su dirección en cada uno de los estados del país, el cuantas
          personas están a cargo de la tienda, su número de teléfono y entre muchos otros datos más. Únicamente tienes que registrarte para 
          acceder a la información.
        </p>
      </div>
      <div class="col-md-5">
        <p class="lead">
          <strong><h1 class="featurette-heading">¿Qué información podrás<span class="text-muted"> encontrar aquí?</span></h1></strong>
        </p>
      </div>
    </div>

    <hr class="featurette-divider" id="contacto">
    <!-- /END THE FEATURETTES -->

    <section id="contact" class="contacto">
      <div class="section-title"><h1>INFO CONTACTO</h1></div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Teléfono</h3>
            <h4 class="card-text">+52 271 937 24 54</h4>
            <h4 class="card-text">+52 271 185 78 33</h4>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Email</h3>
            <h4 class="card-text">chapulinesinc@gmail.com</h4>
            <h4 class="card-text">infocensoeco@hotmail.com</h4>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Dirección</h3>
            <h4 class="card-text">Calle 5 entre Avenidas 8 y 10, Córdoba, Ver.</h4>
          </div>
        </div>
      </div>
    </section>

    <hr class="featurette-divider">

  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="page-footer font-small pt-4">
      <div class="container text-center text-md-left">
          <div class="row">
              <div class="col-md-4 mx-auto">
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Chapulines Inc.</h5>
                  <p>El objetivo del contenido de esta página es meramente para fines educativos e informativos.</p>
              </div>
              <hr class="clearfix w-100 d-md-none">
              <div class="col-md-2 mx-auto">
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Email</h5>
                  <ul class="list-unstyled">
                      <li>
                          <h5 class="card-text">chapulinesinc@gmail.com</h5>
                      </li>
                      <li>
                          <h5 class="card-text">infocensoeco@hotmail.com</h5>
                      </li>
                  </ul>
              </div>
              <div class="col-md-2 mx-auto">
                  <!-- Links -->
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Dirección</h5>
                  <ul class="list-unstyled">
                      <li>
                          <h5 class="card-text">Calle 5 entre Avenidas 8 y 10, Córdoba, Ver.</h5>
                      </li>
                  </ul>
              </div>
          <!-- Grid column -->
          </div>
          <hr>
          <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                  <h5 class="mb-1">¡Accede a la información!</h5>
              </li>
              <li class="list-inline-item">
                  <a routerLink="/signin" class="btn btn-info">Registrarse</a>
              </li>
          </ul>
          <hr>
      </div>
      <div>
          <p class="text-center align-items-center">
          &copy; 2020 Chapulines Inc. &middot; Todos los derechos reservados.
          </p>
      </div>
  </footer>
</div>