<div class="map-container">

  <nav class="navbar navbar-expand-lg" id="header">
    <a class="navbar-brand" routerLink="/landingpage ">I N E G I</a>
    <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/landingpage">Inicio</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info" (click)="exit()">Cerrar Sesión</button>
      </form>
    </div>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="selectedEstado">Estado</label>
            <select  name="selectedEstado" class="form-control" id="selectedEstado" [(ngModel)]="selectedEstado" (change)="changeEstado();">
              <option *ngFor="let edo of arrEstados; let i = index" [value]="edo.estado">
                {{edo.estado}}
              </option>
            </select>
          </div>
         
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="selectedMunicipio">Municipio</label>
            <select  name="selectedMunicipio" class="form-control" id="selectedMunicipio" [(ngModel)]="selectedMunicipio" >
              <option *ngFor="let mun of arrMunicipio; let i = index" [value]="mun.localidad">
                {{mun.localidad}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="d-flex align-items-center">
            <button class="btn btn-outline-success btn-block" (click)="search()">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map-frame">
    <div id="map"></div>
  </div>

  <div class="footer bg-dark text-light">
    <p class="text-center">&copy; 2020 Chapulines, Inc. &middot; Todos los derechos reservados.</p>
  </div>

</div>