<div class="map-container">

    <nav class="navbar navbar-expand-lg" id="header">
      <a class="navbar-brand" routerLink="/landingpage ">I N E G I</a>
      <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/landingpage">Inicio</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a routerLink="/landingpage" class="btn btn-outline-info">Cerrar Sesión</a>
        </form>
      </div>
    </nav>
  
    <div class="card">
      <div class="card-body">
        <h2><strong class="text-info">LOREM IMPUS</strong></h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus, tortor at pulvinar vulputate, ante justo ullamcorper ante, at gravida nisi 
        purus id nulla. Donec eleifend dolor nibh, non gravida nunc consectetur non. Fusce posuere odio laoreet lorem ultricies rutrum. Nam at tortor et
        tortor dictum luctus. Aliquam ac feugiat ex, vitae viverra purus. Proin eget purus est. Phasellus quis eleifend velit. Curabitur eu ligula et tellus
        pharetra vestibulum.
      </div>
    </div>
  
    <div class="map-frame">
      <div id="map"></div>
    </div>
  
    <div class="footer bg-dark text-light">
      <p class="text-center">&copy; 2020 Chapulines, Inc. &middot; Todos los derechos reservados.</p>
    </div>
  
  </div>
  