<div class="portada" id="hero" style="background-image: url(./assets/img/inegi.jpg)">
    <div class="card">
        <div class="card-body">
            <h2 class="titulo text-center"><a routerLink="/">INEGI</a></h2>
            <h4 class="subtitulo text-center">Inicio de Sesión</h4>
            <form class="text-center" (ngSubmit)="login(for)" #for="ngForm" >
                <span *ngIf="for.submitted && for.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="md-form">
                    <input type="email" id="email" class="form-control" 
                    required
                    placeholder="Correo eléctronico" name="email" [(ngModel)]="usuario.email">
                </div>
                <div class="md-form">
                    <span *ngIf="for.submitted && for.controls['password'].errors" class="text-danger animated fadeIn">La contraseña es obligatorio</span>
                    <input type="password" id="password" name="password" class="form-control text-light" 
                    required placeholder="Contraseña" [(ngModel)]="usuario.password">
                </div>
                    <input type="submit" class="btn btn-info" value="INICIAR SESIÓN" >
                <div>
                    <p>&copy; 2020 Chapulines, Inc.</p>
                </div>
            </form>
        </div>
    </div>
</div>
